/* Text styles */

.myks-contact-form label {
    /* Match border of inputs to align the text baseline. */
    border: 1px solid transparent;
    color: #333;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.25em 0;
}
.myks-contact-form input,
.myks-contact-form textarea {
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0.25em 0.5em;
}
.myks-contact-form .helptext {
    color: #999;
    font-size: 0.75em;
    font-style: italic;
    line-height: 1.5em;
    padding: 0.25em 0;
}
.myks-contact-form .errorlist {
    color: #c00;
    font-size: 0.875em;
    font-style: italic;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.myks-contact-form .errorlist li {
    padding: 0;
    margin: 0;
}

/* Layout */

.myks-contact-form * {
    box-sizing: border-box;
}
.myks-contact-form {
    margin: 0 auto;
    position: relative;
    max-width: 60em;
}
.myks-contact-form label,
.myks-contact-form input,
.myks-contact-form textarea,
.myks-contact-form .helptext {
    display: block
}
.myks-contact-form #id_captcha {
    width: 6em;
}
.myks-contact-form #id_sender,
.myks-contact-form #id_subject,
.myks-contact-form #id_message {
    width: 100%;
}

@media (min-width: 45em) {
    .myks-contact-form label {
        position: absolute;
        text-align: right;
        padding-right: 0.5em;
        width: 20%;
    }
    .myks-contact-form .captcha-code,
    .myks-contact-form input,
    .myks-contact-form textarea,
    .myks-contact-form .helptext {
        margin-left: 20%;
    }
    .myks-contact-form #id_sender,
    .myks-contact-form #id_subject,
    .myks-contact-form #id_message {
        width: 80%;
    }
}
